<p id="notice"><%= notice %></p>

<h1>Articals</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Created by</th>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articals.each do |artical| %>
      <tr>
        <td><%= artical.user.username %></td>
        <td><%= artical.title %></td>
        <td><%= artical.body %></td>
        <td><%= link_to 'Show', artical %></td>
        <td><%= link_to 'Edit', edit_artical_path(artical) %></td>
        <td><%= link_to 'Destroy', artical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artical', new_artical_path %>
